a {
color: #77aaff;
text-decoration: none;
}

a:hover {
color: #88bbff;
text-decoration: underline;
}

a#viewSource {
display: block;
font-size: 18px;
margin: 30px 0 0 0;
border-top: 1px solid #999;
padding: 20px 0 0 0;
}

div#links a {
display: block;
line-height: 2em;
}

a.download {
display: block;
font-size: 13px;
font-weight: bold;
left: 90px;
text-decoration: underline;
width: 72px;
position: relative;
top: -2px;
z-index: 1;
height: 0px;
}

body {
background: #666;
font-family: 'Open Sans', sans-serif;
overflow-y: scroll;
padding: 20px;
}

button {
margin: 0 10px 0 0;
/*
padding: 5px;
min-width: 70px;
font-size: 1.2em;
 */
}

button[disabled] {
color: white;
}

details {
margin: 0 0 0.7em 0;
}

details.matches {
margin: 0 0 0 0;
}

div#container {
background: #000;
margin: 0 auto 0 auto;
padding: 15px 30px 20px 30px;
width: 640px;
}

div#info {
margin: 0 0 20px 0;
}

div#queryExplanation {
color: red;
margin: 0 10px 0 0;
}

div#numResults {
color: rgb(230, 0, 0);
font-weight: bold;
margin: 0 0 1em 0;
padding: 0 0 1em 0;
border-bottom: 1px solid #666;
}

div#results {
/*max-height: 300px;*/
margin: 0 0 1em 0;
overflow-y: auto;
}

div.cue {
cursor: pointer;
font-size: 12px;
margin: 0 0 1em 0;
line-height: 1.3em;
padding: 0 0 0 40px;
text-indent: -40px;
}

div.cues {
margin: 1em 0 0 0;
padding: 0 0 0 1em;
}

div.transcript{
color: white;
font-size: 10px;
}

div.video {
margin: 0 0 1.3em 0;
border-bottom: 1px dotted #999;
padding: 0 0 0.6em 0;
}

div.video div.videoRating {
color: #666;
font-size: 10px;
margin: 0 0 0.4em 0;
clear: left;
}

div.video div.videoViewCount {
border-bottom: 1px solid #333;
color: #666;
font-size: 10px;
margin: 0 0 0.6em 0;
padding: 0 0 0.6em 0;
}

div.video div.speakers {
color: #999;
font-size: 13px;
line-height: 1.5em;
margin: 0 0 1em 0;
/* padding: 0 0 0 0; */
}

div.video div.videoSummary {
color: #ddd;
font-size: 11px;
margin: 0 0 5px 0;
line-height: 1.6em;
padding: 28px 0 0 0;
}

span.cueText em {
font-style: normal;
background: rgba(224, 79, 23, 0.49);
}

h1 {
border-bottom: 1px solid #aaa;
color: white;
margin: 0 0 30px 0;
padding: 0 0 10px 0;
}

h2 {
color: #ccc;
font-size: 16px;
line-height: 1.5em;
margin: 0 0 0.5em 0;
width: 90%;
}

iframe {
background-color: #222;
margin: 0 0 20px 0;
}

img {
border: none;
}

img.videoThumbnail {
float: left;
height: 180px;
margin: 9px 10px 0 0;
width: 240px;
}

input#query {
font-size: 14px;
padding: 5px;
width: 627px;
margin:  0 0 10px 0;
}

p {
color: #eee;
font-size: 14px;
line-height: 1.4em;
}

p#data {
font-family: monospace;
line-height: 1.2em;
max-height: 1000px;
overflow-y: auto;
border-top: 1px dotted #666;
padding: 16px 0 0 0;
}

p.borderBelow {
border-bottom: 1px solid #aaa;
padding: 0 0 20px 0;
}

details div p {
color: #ddd;
font-size: 13px;
line-height: 1.5em;
margin: 0;
text-indent: 1.5em;
}

details div p.speaker {
margin: 1em 0 0 0;
text-indent: 0;
}

details div p:first-child {
text-indent: 0;
}

pre {
color: #ddd;
}

span.cueStartTime {
color: #aaa;
}

span.cueText {
color: #ccc;
}

span.cueText:hover {
color: white;
}

span.inputLabel {
color: #eee;
float: left;
font-size: 11px;
line-height: 1em;
}

span.speakerName {
color: white;
font-weight: 600;
}

summary {
color: white;
cursor: pointer;
display: block; /* for browsers that don't support <summary> */
font-size: 13px;
font-weight: bold;
line-height: 1.2em;
outline: none;
margin: 0 0 1em 0;
}

video {
background: #222;
}
